.default-button{
    display: inline-block;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 8px 16px;
}

.follow{
    background-color: aqua;
    color: white;
    box-shadow: 8px 10px 20px 0 rgba(46,61,73,0.15);
    transition: box-shadow, background-color, 0.3s;
}

.follow:hover{
    box-shadow: 2px 4px 8px 0 rgb(46 61 73 / 20%);
    background-color: rgb(6, 182, 182);
}

.subscribe{
    color: aqua;
    border: 1px solid aqua;
    box-shadow: 8px 10px 20px 0 rgba(46,61,73,0.15);
    transition: box-shadow, 0.3s;
}

.subscribe:hover{
    box-shadow: 2px 4px 8px 0 rgb(46 61 73 / 20%);
}
