@import url(content.css);
@import url(/css/utility/button.css);
@import url(/css/utility/text_style.css);
@import url(/css/utility/color.css);

    .page-template-default{
        margin: 0;
        padding: 0;
    }

/* mobile-screen */
@media(max-width: 599px){
    .container{
        display: flex;
        height: 100vh;
        font-family: 'Noto Sans JP', sans-serif;
        flex-direction: column;
    }
}

/* midium-screen */
@media(min-width: 600px) and (max-width: 900px){
    .container{
        display: grid;
        height: 100vh;
        font-family: 'Noto Sans JP', sans-serif;
        grid-template-rows: 160px 80px 1fr 80px;
        grid-template-columns: 240px 1fr;
        grid-template-areas: 
        "sd hd"
        "sd nav"
        "sd main"
        "ft ft";
    }
}

/* large-screen */
@media(min-width: 901px){
    .container{
        display: grid;
        height: 100vh;
        font-family: 'Noto Sans JP', sans-serif;
        grid-template-rows: 160px 80px 1fr 80px;
        grid-template-columns: minmax(240px, 20%) 1fr;
        grid-template-areas: 
        "sd hd"
        "sd nav"
        "sd main"
        "ft ft";
    }
}

    .header{
        display: flex;
        align-items: center;
        font-size: 32px;
        grid-area: hd;
        padding: 2rem;
    }

    .sidebar{
        grid-area: sd;
        padding: 2rem;
    }
    
    .sidebar ul .anchor{
        color: white;
    }

    .sidebar li{
        padding: 1rem;
    }

    @media(min-width: 600px){
        .nav{
            grid-area: nav;
            padding: 1rem;
        }
    }

    @media (max-width: 599px){
        .nav{
            grid-area: nav;
            padding: 1rem 2rem;
        }
    }

    .content{
        grid-area: main;
    }

    .footer{
        grid-area: ft;
        display: flex;
        padding: 1rem;
        align-items: flex-end;
        justify-content: flex-end;
        grid-area: ft;
    }

